*{
  box-sizing: border-box;
  transition: all .25s; 
}
body {
	margin: 0;
}
.column {
	margin: 0 1em 0 1em;
	height: 100%;
	overflow: auto;
}
.row, #home {
	display: none;
}
.home #home {
	display: block;
}
.activities .row {
	display: flex;
	flex-direction: row;
}
.column#activities {
	flex: 1 1 300px;
}
.column#cart {
	flex: 0  0 200px ;
}
.column#activities > div {
	display: none;
}

.cart #activities {
	display: none;
}

.slice1 .column > #slice1 {
	display: block;
}
.slice2 .column > #slice2 {
	display: block;
}
.slice3 .column > #slice3 {
	display: block;
}

.activities.cart #cart {
	flex: 1 1 400px;
}
.grid {
	margin-left: 3rem;
}
.grid a {
	background-color: lightslategray;
	padding: 1em;
	border-radius: 5px;
	width: calc(150px - 1em);
	height: calc(150px - 1em);
	display: inline-block;
	margin: 0.5rem;
}
.grid a:hover {
	transform: scale(1.15);
}
.grid a:hover:after {
	position: absolute;
	background-color: orange;
	right: -5em;
	height: calc(100% - 2em);
	top: 0em;
	border-radius: 1em;
	padding: 1em;
	content: 'Hiya partner!!';
	z-index: 10;
}
.grid a:after {
	height: 0;
}
.card {
	background-color: orange;
	border-radius: 10px;
	padding: 1em;
	padding-bottom: 2em;
	padding-top: 0.1em;
	margin-bottom: 1em;
}
#cart .card :nth-child(n+3){
	display: none;
}
.cart #cart .card :nth-child(n+3){
	display: initial;
}